<template name="postItem">
  <div class="river-item">
    <div class="post">
      {{#if title}}
      <h1 class="title"><a href="{{postPagePath this}}">{{title}}</a></h1>
      <div class='meta subtitle'>
        <div>By {{authorName}}</div>
        <div class="date">{{date}}</div>
      </div>
      {{/if}}
      <div>
        {{#markdown}}
        {{{content}}}
        {{/markdown}}
      </div>
      {{! Only published posts are displayed in the blog
      Non published posts may be displayed via a custom route }}
      {{#if publish}}
      <div>
        Tags: {{#each tags}}<span class="tag">{{this}} </span>{{/each}}
      </div>
      {{/if}}
      <div>
        {{#if ownPost}}<a href="{{postEditPath this}}">Edit</a>{{/if}}
      </div>
    </div>
  </div>
</template>

<template name="postList">
{{#each posts}}
  {{> postItem}}
  {{> bridge}}
{{/each}}
</template>

<template name="postPage">
  {{#with currentPost}}
    {{> postItem}}
    {{#if publish}}
    {{> commentList}}
    {{/if}}
  {{/with}}
</template>

<template name="postEdit">
  <form class="river-item post-form">
    {{#with currentPost}}
    <div>
      <label for="title">Title</label>
      <input id="title" value="{{title}}">
    </div>
    <div>
      <label for="content">Content</label>
      {{! content helper requires a space before it.
      Content helper with no leading spaceftriggers a bug:
      A single leading newline character is removed }}
      <textarea id="content" placeholder="Add Awesomme"> {{{ content }}}</textarea>
    </div>
    <div>
      <label for="tags">Tags</label>
      <input id="tags" value="{{tagString}}" placeholder="space-separated tags list">
    </div>
    <div>
      <label for="publish">Publish</label>
      <input id="publish" type="checkbox"{{#if publish}} checked="true"{{/if}}>
    </div>
    <div>
      <input type="submit">
    </div>
    {{/with}}
  </form>
</template>

<template name="bridge">
  <div class="bridge"></div>
</template>
