<template name="postItem">
  <div class="river-item">
    <div class="post">
      {{#if title}}
      <h1 class="title"><a href="{{pathFor 'postPage'}}">{{title}}</a></h1>
      <div class='meta subtitle'>
        <div>By {{authorName}}</div>
        <div class="date">{{date}}</div>
      </div>
      {{/if}}
      <div>
        {{#markdown}}
        {{{content}}}
        {{/markdown}}
      </div>
      {{! Only published posts are displayed in the blog
      Non published posts may be displayed via a custom route }}
      {{#if publish}}
      <div>
        Tags: {{#each tags}}<span class="tag">{{this}} </span>{{/each}}
      </div>
      {{/if}}
      <div>
        {{#if ownPost}}<a href="{{pathFor 'edit'}}">Edit</a>{{/if}}
      </div>
    </div>
  </div>
</template>

<template name="postList">
{{#each posts}}
  {{> postItem}}
  {{> bridge}}
{{/each}}
{{#unless finished}}
 <div class="river-item loading-more"><h2>loading...</h2></div>
{{/unless}}
</template>



<template name="postPage">
  {{> postItem}}
  {{#if publish}}
  {{> commentList}}
  {{/if}}
</template>

<template name="postEdit">
  <form class="river-item post-form">
    <div>
      <label for="title">Title</label>
      <input id="title" value="{{title}}">
    </div>
    <div>
      <label for="content">Content</label>
      <textarea id="content" placeholder="Add Awesomme">{{{ content }}}</textarea>
    </div>
    <div>
      <label for="tags">Tags</label>
      <input id="tags" value="{{tagString}}" placeholder="space-separated tags list">
    </div>
    <div>
      <label for="publish">Publish</label>
      {{#if publish}}
      <input id="publish" type="checkbox" checked="true">
      {{else}}
      <input id="publish" type="checkbox">
      {{/if}}
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</template>

<template name="bridge">
  <div class="bridge"></div>
</template>
