<template name="postItem">
  <div class="river-item">
    <div class="post">
      <h1 class="title"><a href="{{postPagePath this}}">{{title}}</a></h1>
      <div>
        {{#markdown}}
          {{{content}}}
        {{/markdown}}
      </div>
      <div>
        <div class="date">{{date}}</div>
      </div>
      <div>
        Tags: {{#each tags}}<span class="tag">{{this}} </span>{{/each}}
      </div>
      <div>
        <a href="{{postPagePath this}}">Link</a>
        {{#if ownPost}}<a href="{{postEditPath this}}">Edit</a>{{/if}}
      </div>
    </div>
  </div>
</template>

<template name="postList">
{{#each posts}}
  {{> postItem}}
{{/each}}
</template>

<template name="postPage">
  {{#with currentPost}}
    {{> postItem}}
  {{/with}}
</template>

<template name="postEdit">
  <form class="river-item">
    <div>
      <label for="title">Title</label>
      <input id="title" value="{{title}}">
    </div>
    <div>
      <label for="content">Content</label>
      <!-- {{{ content }}} requires spaces surrounding it
      >{{{content}}}</ triggers a bug - a single leading newline character is removed -->
      <textarea id="content" placeholder="Add Awesomme"> {{{ content }}}</textarea>
    </div>
    <div>
      <label for="tags">tags</label>
      <input id="tags" value="{{tags}}" placeholder="space-separated tags list">
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</template>
