html, body {
  font-family: "Verdana", "Geneva";
  margin: 0px;
}


/* Major Page sections */
header#sidebar {
  position: fixed;
  height: 100%;
  width: 14%;
  border-right: 1px solid gray;
  top: 0;
}

div#river {
  position:relative;
  margin-left: 14%;
}


/* In the river */
.river-item {
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  padding-left: 3%;
}

.river-item div {
  max-width: 600px;
 }


/* Post Edit */
form textarea {
  min-width: 80%;
  min-height: 250px;
}

form label {
  display: block;
}
