/* Global Styles */
html, body {
  font-family: "Verdana", "Geneva";
  margin: 0px;
}

a {
  color: #44f;
}
a:hover {
  color: #00f;
}

/* Major Page sections */
header#sidebar {
  position: fixed;
  height: 100%;
  width: 14%;
  overflow-x: hidden;
  border-right: 1px solid gray;
  top: 0;
}

div#river {
  position:relative;
  margin-left: 14%;
}


/* Sidebar content */
header#sidebar a {
  text-decoration: none;
  font-size: 28px;
}
header#sidebar h1 {
  text-align: center;
}


/* In the river */
.river-item {
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  padding-left: 3%;
}

.river-item div.post div {
  max-width: 600px;
 }


/* Post Edit */
form textarea {
  min-width: 80%;
  min-height: 250px;
}

form label {
  display: block;
}
