<template name="postItem">
  <h1>{{title}}</h1>
  <div>
    {{content}}
  </div>
  <div>
    <div class="date">{{date}}</div>
  </div>
  <div>
    <a href="{{postPagePath this}}">Discuss</a>
    <a href="{{postEditPath this}}">Edit</a>
  </div>
</template>

<template name="postList">
  {{#each posts}}
    {{> postItem}}
  {{/each}}
</template>

<template name="postPage">
  {{#with currentPost}}
    {{> postItem}}
  {{/with}}
</template>

<template name="postEdit">
  <form>
    <div>
      <label for="title">Title</label>
      <input id="title" value="{{title}}">
    </div>
    <div>
      <label for="content">Content</label>
      <textarea id="content"placeholder="Add Awesomme">{{content}} </textarea>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</template>